<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<link rel="stylesheet" th:href="@{/dist/css/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/main.css}" type="text/css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

<!-- 각 페이지의 css가 작성될 위치 -->
<th:block layout:fragment="css"></th:block>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script"></th:block>
</head>

<body>
	<header class="header">
		<div th:replace="~{layout/header::header}"></div>
	</header>
	
	<main class="container">
		<div layout:fragment="content"></div>
	</main>
</body>
</html>